<html>
    <head>
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="hero">
            <div class="navbar">


            <div class="side-bar">

            
                <div class="social-links">
                    <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/ig.png">
                    <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/tw.png">
                    <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/fb.png">
                </div>

                <div class="useful-links">
                    <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/share.png">
                    <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/info.png">
                </div>
            
            </div>

            <div class="bubbles">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
                <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
            </div>
        </div>
    </body>
</html>