<html>
    <head>
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="hero">
            <div class="navbar">


             <div class="right">

                <h1>cookingram</h1>
                <br>
                <p>cookingramは料理のレシピを共有できるWEBアプリです</p>
                <br>
                <p><span>いいね機能</span>や<span>ブックマーク機能</span>が付いているので、<p>いつでも必要な時に見返すことができます</p>
           
                <div class="btn-wrapper">
                    <div class="signupbtn">
                        <%= link_to '新規登録はこちら', new_user_registration_path %>
                    </div>
                    <p>or sign up with</p>
                    <br>
                    <a href="#" class="btn facebook">Facebookで登録</a>
                    <a href="#" class="btn twitter">Twitterで登録</a>
                </div>
            </div>
    

            <div class="bubbles">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png"> 
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
            </div>
            </div>

    </body>
</html>
