<html>
    <head>
        <link rel="stylesheet" href="application.scss">
    </head>
    <body>
        <div class="hero">
            <div class="navbar">


             <div class="right">
                <small>Welcome to</small>
                <h1>Recipegram</h1>
            </div>

            <div class="bubbles">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png"> 
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/bubble.png">
               <img src="https://lils-himon-canada-fashion.com/wp-content/uploads/2020/08/339-3398627_ftestickers-heart-lighteffect1.png">
            </div>
        </div>
    </body>
</html>